<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow">
  <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand fw-bold" href="/listings">
          <i class="fas fa-compass me-2"></i>WanderLust
      </a>
      
      <!-- Mobile toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Left side navigation -->
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/listings">
                      <i class="fas fa-home me-1"></i>All Listings
                  </a>
              </li>
              <% if (currUser) { %>
              <li class="nav-item">
                  <a class="nav-link" href="/listings/new">
                      <i class="fas fa-plus me-1"></i>Add New
                  </a>
              </li>
              <% } %>
          </ul>
          
          <!-- Right side navigation -->
          <ul class="navbar-nav">
              <% if (!currUser) { %>
              <li class="nav-item">
                  <a class="nav-link" href="/signup">
                      <i class="fas fa-user-plus me-1"></i>
                      <span class="d-lg-inline d-none">Sign Up</span>
                      <span class="d-lg-none">Sign Up</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">
                      <i class="fas fa-sign-in-alt me-1"></i>
                      <span class="d-lg-inline d-none">Login</span>
                      <span class="d-lg-none">Login</span>
                  </a>
              </li>
              <% } else { %>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                      <i class="fas fa-user me-1"></i><%= currUser.username %>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/profile">Profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <form action="/logout" method="POST" class="d-inline">
                              <button class="dropdown-item" type="submit">Logout</button>
                          </form>
                      </li>
                  </ul>
              </li>
              <% } %>
          </ul>
      </div>
  </div>
</nav>